<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.plant.model.dao.PlantMapper">
<!-- Create -->
	<insert id="savePlant" parameterType="Plant">
		INSERT
		  INTO
				PLANT	
				(
				MEMBER_NO 
			 ,	PLANT_NAME
			 ,	CLASSIFICATION
			 ,	PLANT_INFO
			 ,	CARBON_CAPTURE
			 ,	GROWTH_INFO
			 ,	PLANT_API
				)	
		VALUES
				(
				#{memberNo}
			 ,	#{plantName}
			 ,	#{classification}
			 ,	#{plantInfo}
			 ,	#{carbonCapture}
			 ,	#{growthInfo}
			 ,	#{plantApi}
				)
	</insert>

<!-- Update -->
    <update id="editPlant">
   		UPDATE
   				PLANT
   		   SET
   		   		MEMBER_NO = #{memberNo}
   			 ,	PLANT_NAME = #{plantName}
   			 ,	CLASSIFICATION = #{classification}
   			 ,	PLANT_INFO = #{plantInfo}
   			 ,	CARBON_CAPTURE = #{carbonCapture}
   			 ,	GROWTH_INFO = #{growthInfo}
   			 ,	PLANT_API = #{plantApi}
   		 WHERE
   				PLANT_NO = #{plantNo}
		   AND
		   		DEL_YN = 'N'
	</update>
	
	<update id="increasePlantCount">
		UPDATE 
			PLANT 
		SET 
			COUNT = COUNT + 1 
		WHERE 
			PLANT_NO = #{plantNo}
	</update>
	
<!-- Delete -->
	<update id="deletePlant">
   		UPDATE
   				PLANT
   		   SET
   				DEL_YN = 'Y'
   		 WHERE
   				PLANT_NO = #{plantNo}
		   AND
		   		DEL_YN = 'N'
	</update>

<!-- Validate -->
    <select id="getLastPlantNoByMemberNo" resultType="java.lang.Long">
		SELECT
				PLANT_NO
		FROM
				PLANT
		WHERE
				MEMBER_NO = #{memberNo}
		ORDER
		   BY
				PLANT_NO DESC
		FETCH
				FIRST 1 ROWS ONLY
	</select>

</mapper>