<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.board.model.dao.BoardMapper">

<!-- Create -->
	<insert id="saveBoard" parameterType="Board">
		INSERT
		  INTO
		  		BOARD	
		  		(
		  		MEMBER_NO 
			 ,	BOARD_TITLE
			 ,	BOARD_CONTENT
			 ,	CATEGORY_NO
			  	)
		VALUES
				(
				#{memberNo}
			 ,  #{boardTitle}
			 ,	#{boardContent}
			 ,	#{categoryNo}
				)
	</insert>
	
<!-- Read -->
	<sql id="findBoardQuery">
		SELECT 
				B.BOARD_NO
			 ,	B.BOARD_TITLE
			 ,	C.CATEGORY_NAME
			 ,	B.COUNT
			 ,	M.MEMBER_NAME
			 ,	B.CREATE_DATE
			 ,	(SELECT COUNT(*) FROM BOARD_COMMENT WHERE BOARD_NO = B.BOARD_NO) AS COMMENT_COUNT
			 ,	(SELECT COUNT(*) FROM BOARD_LIKE WHERE BOARD_NO = B.BOARD_NO) AS LIKE_COUNT
		  FROM
				BOARD B
		  JOIN
				CATEGORY C USING(CATEGORY_NO)
		  JOIN
				MEMBER M USING(MEMBER_NO)
		 WHERE
				B.DEL_YN = 'N'
	</sql>
	
	<select id="findBoardAll">
		<include refid="findBoardQuery"/>
		 ORDER 
		    BY
		    	B.BOARD_NO DESC
	    OFFSET 	#{offset} ROWS FETCH
		  NEXT  #{limit} ROWS ONLY	
	</select>
	
	<select id="findBoardByKeyword">
		<include refid="findBoardQuery"/>
		   AND	(
				<choose>
					<when test="target == 'writer'">
						<foreach collection="keywordList" item="word" separator="AND">
							M.MEMBER_NAME LIKE '%' || #{word} || '%'
						</foreach>
					</when>
					<when test="target == 'boardTitle'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		B.BOARD_TITLE LIKE '%' || #{word} || '%'
                		</foreach>
            		</when>
            		<when test="target == 'boardContent'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		B.BOARD_CONTENT LIKE '%' || #{word} || '%'
                		</foreach>
            		</when>
            		<otherwise>
                		<foreach collection="keywordList" item="word" separator="AND">
                    		(
		                        M.MEMBER_NAME   LIKE '%' || #{word} || '%'
		                        OR B.BOARD_TITLE  LIKE '%' || #{word} || '%'
		                        OR B.BOARD_CONTENT LIKE '%' || #{word} || '%'
		                    )
		                </foreach>
            		</otherwise>
				</choose>
		   		)
		 ORDER 
		    BY
		    	B.BOARD_NO DESC
	    OFFSET 	#{offset} ROWS FETCH
		  NEXT  #{limit} ROWS ONLY	
	</select>

    <select id="boardDetail">
		SELECT
				B.BOARD_NO
			 ,	B.BOARD_TITLE
			 ,	B.BOARD_CONTENT
			 ,	B.COUNT
			 ,	C.CATEGORY_NAME
			 ,	M.MEMBER_ID
			 ,	(SELECT COUNT(*) FROM BOARD_COMMENT WHERE BOARD_NO = B.BOARD_NO) AS COMMENT_COUNT
			 ,	(SELECT COUNT(*) FROM BOARD_LIKE WHERE BOARD_NO = B.BOARD_NO) AS LIKE_COUNT
			 ,	(SELECT COUNT(*) FROM BOARD_DISLIKE WHERE BOARD_NO = B.BOARD_NO) AS DISLIKE_COUNT
			 
		  FROM 
				BOARD B
		  Join 
				Category C USING(CATEGORY_NO)
		  Join
				MEMBER M USING(MEMBER_NO)
		 WHERE 
				B.BOARD_NO = #{boardNo}
		   AND
				B.DEL_YN = 'N'
    </select>

	<select id="boardCategoryAll">
		SELECT 
				CATEGORY_NO
			 , 	CATEGORY_NAME
		  FROM 
				CATEGORY
	</select>
   
   	<select id="getLastBoardNoByMemberNo" resultType="java.lang.Long">
		SELECT
				BOARD_NO
		  FROM
		  		BOARD
		 WHERE
		 		MEMBER_NO = #{memberNo}
		 ORDER
		 	BY
		    	BOARD_NO DESC
		 FETCH
		 		FIRST 1 ROWS ONLY
	</select>
	
<!-- Update -->
	<update id="editBoard" parameterType="Board">
   		UPDATE
   				BOARD
   		   SET
   				CATEGORY_NO = #{categoryNo}
   			 ,	BOARD_TITLE = #{boardTitle}
   			 ,	BOARD_CONTENT = #{boardContent}
   		 WHERE
   				BOARD_NO = #{boardNo}
   		   AND
   				MEMBER_NO = #{memberNo}
	</update>
	
	<update id="increaseBoardCount">
		UPDATE 
				BOARD 
		   SET 
		   		COUNT = COUNT + 1 
		 WHERE 
		 		BOARD_NO = #{boardNo}
	</update>

<!-- Delete -->
	<update id="deleteBoard">
   		UPDATE
   				BOARD
   		   SET
   				DEL_YN = 'Y'
   		 WHERE
   				BOARD_NO = #{boardNo}
   		   AND
   				MEMBER_NO = #{memberNo}
	</update>
</mapper>