<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.board.model.dao.BoardImgMapper">
   <insert id="insertBoardImg" parameterType="com.kh.pp.board.model.dto.BoardImgDto">
    INSERT INTO BOARD_IMG 
        (BOARD_NO, ORIGINAL_NAME, SAVE_NAME, IMG_PATH, IMG_ORDER, DEL_YN)
    VALUES 
        (#{boardNo}, #{originalName}, #{saveName}, #{imgPath}, #{imgOrder}, 'N')
	</insert>
   
   
</mapper>