<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.plant.model.dao.PlantImgMapper">
	<insert id="insertPlantImg" parameterType="com.kh.pp.plant.model.dto.PlantImgDto">
		INSERT 
	      INTO 
	     		PLANT_IMG 
	   	    	(
				PLANT_NO
		 	 , 	ORIGINAL_NAME
			 , 	SAVE_NAME
			 , 	IMG_PATH
			 , 	IMG_ORDER
			    )
	    VALUES 
	        	(
				#{plantNo}
			 , 	#{originalName}
			 , 	#{saveName}
			 , 	#{imgPath}
			 , 	#{imgOrder}
			    )
	</insert>
   
	<select id="findPlantImgByPlantNo" resultType="com.kh.pp.plant.model.dto.PlantImgDto">
		SELECT 
	         	ORIGINAL_NAME
	         ,	SAVE_NAME
	         ,	IMG_PATH
	         ,	IMG_ORDER
	      FROM 
	    		PLANT_IMG
	     WHERE 
	     		PLANT_NO = #{plantNo}
	       AND 
	       		DEL_YN = 'N'
	     ORDER
	        BY 
	        	IMG_ORDER ASC
	</select>
	
	<update id="deletePlantImgByPlantNo">
		UPDATE
				PLANT_IMG
		   SET
		   		DEL_YN = 'Y'
		 WHERE
		 		PLANT_NO = #{plantNo}
	</update>
</mapper>