<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.plant.model.dao.PlantMapper">
<!-- Create -->
	<insert id="savePlant" parameterType="Plant">
		INSERT
		  INTO
				PLANT	
				(
				MEMBER_NO 
			 ,	PLANT_NAME
			 ,	CLASSIFICATION
			 ,	PLANT_INFO
			 ,	CARBON_CAPTURE
			 ,	GROWTH_INFO
			 ,	PLANT_API
				)	
		VALUES
				(
				#{memberNo}
			 ,	#{plantName}
			 ,	#{classification}
			 ,	#{plantInfo}
			 ,	#{carbonCapture}
			 ,	#{growthInfo}
			 ,	#{plantApi}
				)
	</insert>
	
<!-- Read -->
	<sql id="findPlantQuery">
		SELECT 
				P.PLANT_NO
			 ,	M.MEMBER_NAME
			 ,	P.PLANT_NAME
			 ,	P.CLASSIFICATION
			 ,	P.COUNT
			 ,	P.CREATE_DATE
			 ,	(SELECT COUNT(*) FROM PLANT_REVIEW WHERE PLANT_NO = P.PLANT_NO) AS REVIEW_COUNT
			 ,	COALESCE(
    				(SELECT	
    						ROUND(AVG(RATING)) 
             		   FROM 
             		   		PLANT_REVIEW 
             		  WHERE 
             		  		PLANT_NO = P.PLANT_NO),
             		0
             	) AS AVG_RATING
		FROM
			PLANT P
		JOIN
			MEMBER M USING(MEMBER_NO)
		WHERE
			P.DEL_YN = 'N'	
	</sql>
	
	<select id="findPlantAll">
		<include refid="findPlantQuery" />
		ORDER 
		BY
			P.PLANT_NO DESC
	    OFFSET 
	    	#{offset} ROWS
		FETCH 
			NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="findPlantByKeyword">
		<include refid="findPlantQuery" />
		   AND	(
				<choose>
					<when test="target == 'writer'">
						<foreach collection="keywordList" item="word" separator="AND">
							M.MEMBER_NAME LIKE '%' || #{word} || '%'
						</foreach>
					</when>
					<when test="target == 'plantName'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.PLANT_NAME LIKE '%' || #{word} || '%'
                		</foreach>
            		</when>
            		<when test="target == 'classification'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.CLASSIFICATION LIKE '%' || #{word} || '%'
                		</foreach>
                	</when>
            		<when test="target == 'growthInfo'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.GROWTH_INFO LIKE '%' || #{word} || '%'
                		</foreach>
                	</when>
            		<when test="target == 'plantInfo'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.PLANT_INFO LIKE '%' || #{word} || '%'
                		</foreach>          
            		</when>
            		<otherwise>
                		<foreach collection="keywordList" item="word" separator="AND">
                    		(
		                        M.MEMBER_NAME   LIKE '%' || #{word} || '%'
		                        OR P.PLANT_NAME LIKE '%' || #{word} || '%'
		                        OR P.CLASSIFICATION LIKE '%' || #{word} || '%'
		                        OR P.GROWTH_INFO LIKE '%' || #{word} || '%'
		                        OR P.PLANT_INFO LIKE '%' || #{word} || '%'
		                    )
		                </foreach>
            		</otherwise>
				</choose>
		   		)
		ORDER 
		BY
			P.PLANT_NO DESC
	    OFFSET 
	    	#{offset} ROWS
		FETCH 
			NEXT #{limit} ROWS ONLY
	</select>
	
    <select id="plantDetail">
		SELECT
				P.PLANT_NO
			 ,	P.PLANT_NAME
			 ,	P.CLASSIFICATION
			 ,	P.COUNT
			 ,	P.CARBON_CAPTURE
			 ,	P.CREATE_DATE
			 ,	P.PLANT_INFO
			 ,	P.GROWTH_INFO
			 ,	M.MEMBER_ID
			 ,	P.PLANT_API
		FROM 
			PLANT P
		Join
			MEMBER M USING(MEMBER_NO)
		WHERE 
			P.PLANT_NO = #{plantNo}
		AND
			P.DEL_YN = 'N'
    </select>
    
    <select id="getLastPlantNoByMemberNo" resultType="java.lang.Long">
		SELECT
			PLANT_NO
		FROM
			PLANT
		WHERE
			MEMBER_NO = #{memberNo}
		ORDER
		BY
			PLANT_NO DESC
		FETCH
			FIRST 1 ROWS ONLY
	</select>
    
<!-- Update -->
    <update id="editPlant">
   		UPDATE
   			PLANT
   		SET
   			PLANT_NAME = #{plant.plantName}
   			, PLANT_INFO = #{plant.plantInfo}
   		WHERE
   			PLANT_NO = #{plant.plantNo}
   		AND
   			MEMBER_NO = #{memberNo}
	</update>
	
	<update id="increasePlantCount">
		UPDATE 
			PLANT 
		SET 
			COUNT = COUNT + 1 
		WHERE 
			PLANT_NO = #{plantNo}
	</update>
	
<!-- Delete -->
	<update id="deletePlant">
   		UPDATE
   			PLANT
   		SET
   			DEL_YN = 'Y'
   		WHERE
   			PLANT_NO = #{plantNo}
   		AND
   			MEMBER_NO = #{memberNo}
	</update>
	
	
</mapper>