<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.plant.model.dao.PlantMapper">
<!-- Create -->
	<insert id="savePlant" parameterType="Plant">
		INSERT
		  INTO
				PLANT	
				(
				MEMBER_NO 
			 ,	PLANT_NAME
			 ,	CLASSIFICATION
			 ,	PLANT_INFO
			 ,	CARBON_CAPTURE
			 ,	GROWTH_INFO
			 ,	PLANT_API
				)	
		VALUES
				(
				#{memberNo}
			 ,	#{plantName}
			 ,	#{classification}
			 ,	#{plantInfo}
			 ,	#{carbonCapture}
			 ,	#{growthInfo}
			 ,	#{plantApi}
				)
	</insert>
	
<!-- Read -->
	<sql id="findPlantQuery">
		SELECT 
				P.PLANT_NO
			 ,	M.MEMBER_NAME
			 ,	P.PLANT_NAME
			 ,	P.CLASSIFICATION
			 ,	P.COUNT
			 ,	P.CREATE_DATE
			 ,	COUNT(PR.PLANT_NO) AS REVIEW_COUNT
			 ,	COALESCE(ROUND(AVG(PR.RATING)), 0) AS AVG_RATING
             ,	MI.IMG_PATH || MI.SAVE_NAME AS PROFILE_IMAGE
			 ,	PI.IMG_PATH || PI.SAVE_NAME AS MAIN_PLANT_IMAGE
		  FROM
				PLANT P
		  JOIN
				MEMBER M ON P.MEMBER_NO = M.MEMBER_NO
		  LEFT
		  JOIN
				MEMBER_IMG MI ON MI.MEMBER_NO = P.MEMBER_NO
							 AND MI.DEL_YN = 'N'
		  LEFT
		  JOIN
				PLANT_IMG PI ON PI.PLANT_NO = P.PLANT_NO 
       						AND PI.IMG_ORDER = 1 
       						AND PI.DEL_YN = 'N'
       	  LEFT
       	  JOIN
       	  		PLANT_REVIEW PR ON PR.PLANT_NO = P.PLANT_NO
		 WHERE
				P.DEL_YN = 'N'	
	</sql>
	
	<sql id="findPlantWhere">
		   AND	(
				<choose>
					<when test="target == 'writer'">
						<foreach collection="keywordList" item="word" separator="AND">
							M.MEMBER_NAME LIKE '%' || #{word} || '%'
						</foreach>
					</when>
					<when test="target == 'plantName'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.PLANT_NAME LIKE '%' || #{word} || '%'
                		</foreach>
            		</when>
            		<when test="target == 'classification'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.CLASSIFICATION LIKE '%' || #{word} || '%'
                		</foreach>
                	</when>
            		<when test="target == 'growthInfo'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.GROWTH_INFO LIKE '%' || #{word} || '%'
                		</foreach>
                	</when>
            		<when test="target == 'plantInfo'">
                		<foreach collection="keywordList" item="word" separator="AND">
                    		P.PLANT_INFO LIKE '%' || #{word} || '%'
                		</foreach>          
            		</when>
            		<otherwise>
                		<foreach collection="keywordList" item="word" separator="AND">
                    		(
		                        M.MEMBER_NAME   LIKE '%' || #{word} || '%'
		                        OR P.PLANT_NAME LIKE '%' || #{word} || '%'
		                        OR P.CLASSIFICATION LIKE '%' || #{word} || '%'
		                        OR P.GROWTH_INFO LIKE '%' || #{word} || '%'
		                        OR P.PLANT_INFO LIKE '%' || #{word} || '%'
		                    )
		                </foreach>
            		</otherwise>
				</choose>
		   		)
	</sql>
	
	<sql id="findPlantQueryGroup">
		 GROUP
		 	BY
				P.PLANT_NO
			 ,	M.MEMBER_NAME
			 ,  P.PLANT_NAME
			 ,	P.CLASSIFICATION
			 ,	P.COUNT
			 ,	P.CREATE_DATE
			 ,	MI.IMG_PATH
			 ,  MI.SAVE_NAME
			 ,	PI.IMG_PATH
			 ,	PI.SAVE_NAME
	</sql>
	
	<select id="findPlantAll">
		<include refid="findPlantQuery" />
		<include refid="findPlantQueryGroup" />
		 ORDER 
		    BY
				P.PLANT_NO DESC
	    OFFSET 
	    		#{offset} ROWS FETCH 
		  NEXT 	
		  		#{size} ROWS ONLY
	</select>
	
	<select id="findPlantByKeyword">
		<include refid="findPlantQuery" />
		<include refid="findPlantWhere" />
		<include refid="findPlantQueryGroup" />
		 ORDER 
		    BY
				P.PLANT_NO DESC
	    OFFSET 
	    		#{offset} ROWS FETCH 
		  NEXT 	
		  		#{size} ROWS ONLY
	</select>
	
    <select id="plantDetail">
		SELECT
				P.PLANT_NO
			 ,	P.PLANT_NAME
			 ,	P.CLASSIFICATION
			 ,	P.COUNT
			 ,	P.CARBON_CAPTURE
			 ,	P.CREATE_DATE
			 ,	P.PLANT_INFO
			 ,	P.GROWTH_INFO
			 ,	M.MEMBER_ID
			 ,	P.PLANT_API
		FROM 
				PLANT P
		Join
				MEMBER M USING(MEMBER_NO)
		WHERE 
				P.PLANT_NO = #{plantNo}
		AND
				P.DEL_YN = 'N'
    </select>

<!-- Count -->
	<select id="getPlantTotalElements">
		SELECT
				COUNT(*)
		  FROM
		  		PLANT
		 WHERE
		 		DEL_YN = 'N'
	</select>
	
	<select id="getPlantTotalElementsByKeyword">
		SELECT
				COUNT(*)
		  FROM
		  		PLANT P
		  JOIN
		  		MEMBER M ON P.MEMBER_NO = M.MEMBER_NO
		 WHERE
		 		P.DEL_YN = 'N'
		<include refid="findPlantWhere" />
	</select>
    
<!-- Update -->
    <update id="editPlant">
   		UPDATE
   				PLANT
   		   SET
   		   		MEMBER_NO = #{memberNo}
   			 ,	PLANT_NAME = #{plantName}
   			 ,	CLASSIFICATION = #{classification}
   			 ,	PLANT_INFO = #{plantInfo}
   			 ,	CARBON_CAPTURE = #{carbonCapture}
   			 ,	GROWTH_INFO = #{growthInfo}
   			 ,	PLANT_API = #{plantApi}
   			 
   		 WHERE
   				PLANT_NO = #{plantNo}
	</update>
	
	<update id="increasePlantCount">
		UPDATE 
			PLANT 
		SET 
			COUNT = COUNT + 1 
		WHERE 
			PLANT_NO = #{plantNo}
	</update>
	
<!-- Delete -->
	<update id="deletePlant">
   		UPDATE
   			PLANT
   		SET
   			DEL_YN = 'Y'
   		WHERE
   			PLANT_NO = #{plantNo}
	</update>
	
<!-- Validate -->
    <select id="getLastPlantNoByMemberNo" resultType="java.lang.Long">
		SELECT
				PLANT_NO
		FROM
				PLANT
		WHERE
				MEMBER_NO = #{memberNo}
		ORDER
		   BY
				PLANT_NO DESC
		FETCH
				FIRST 1 ROWS ONLY
	</select>
	
	<select id="isActivePlant">
		SELECT
				COUNT(*)
		  FROM
		  		PLANT
		 WHERE
		 		PLANT_NO = #{plantNo}
		   AND
		   		DEL_YN = 'N'
	</select>
</mapper>