<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pp.plant.model.dao.PlantReviewMapper">
<!-- Create -->
	<insert id="savePlantReview">
		INSERT
		  INTO
		  		PLANT_REVIEW
				(
			 	MEMBER_NO
			 ,	PLANT_NO
			 ,	RATING
			 ,	REVIEW_TITLE
			 ,	REVIEW_CONTENT			 
				)
		VALUES
				(
				#{memberNo}
			 ,	#{plantNo}
			 ,	#{rating}
			 ,	#{reviewTitle}
			 ,	#{reviewContent}
				)
	</insert>

<!-- Read -->

<!-- Validate -->
	<select id="getLastReviewNoByMemberNo">
		SELECT
				REVIEW_NO
		  FROM
		  		PLANT_REVIEW
		 WHERE
		 		MEMBER_NO = #{memberNo}
		 ORDER
		    BY
		    	REVIEW_NO DESC
		 FETCH
		 		FIRST 1 ROWS ONLY
	</select>
	
	<select id="hasReviewByMemberNo">
		SELECT
				COUNT(*)
		  FROM
		  		PLANT_REVIEW
		 WHERE
		 		MEMBER_NO = #{memberNo}
		   AND
		   		PLANT_NO = #{plantNo}
	</select>

</mapper>